<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width-device-width, initial-scale="1.0">
    <meta http-equiv="X-UA-Compatible" >
  
    <title> Text Editor</title>
    <link rel="stylesheet" type="text/css"  href="StyleSheet.css">
   
</head>

<body>
    <ul>
        <li><a href="default.asp">Home</a></li>
        <li><a href="news.asp">News</a></li>
        <li><a href="contact.asp">Contact</a></li>
        <li><a href="about.asp">About</a></li>
    </ul>
    
    <h1> Type something below</h1>

    <form method="post">
        <textarea id="summernote" name="editordata"></textarea>
    </form> 
   



</body>






</html>