{% extends "base.html" %}







{% block title %}

<li style="float:right"> <h1 style="color: white;">Hi, {{ current_user.username }}!</h1></li>
<li style="float: right;"> <h3 style="color:white"><a href="{{ url_for('logout') }}">Logout</h3></a></li>


{% endblock %}


{% block content %}
	<h3>Creator :</h3>
	<hr>

	<div class='credits' > <center>
		Kaustuv K Chattopadhyay		</center>

		<br>
		
		<br>
		<center>
		<p>Made with Love, research & determination under the blissful guidance of Sampark Sharma</center>
		<center>	
			<b>from GLUG, NIT Durgapur</b></p>
		</center>
	</div>
	<hr>

<div class="row">

	<div class="col-lg-4 col-md-4 col-sm-4" >

	</div>

<div class="col-lg-4 col-md-4 col-sm-4" >

		<div id='bgd-image-box'>
			<div id='testbox'>
			<span id="typed"></span>
						 <div id='typed-strings'>
						   <p>&nbsp  Hi! Nice to see you Here </p>
						   <p> &nbsp &nbsp &nbsp This is a simple TextEditor..</p>
						   
						   <p> &nbsp &nbsp Using Flask, Js, and CSS ..</p>
						  
						 </div>
			   </div>
						
		
		</div>

	</div>
</div>
	

{% endblock %}