
    {% extends "base.html" %}

  

    {% block content %}

   



    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6" >
<center>
  <a href="/uploads" target="_blank" class="btn --animated">
    <span>Upload a File</span></a>
</center>






</div>
<div class="col-lg-6 col-md-8 col-sm-12" >

  <center><h1> Type something below</h1></center>
  <br>
  <br>



<form method="POST">
  
  
 




  
  
  <Center><input type="submit" value="Save"  class="btn " ></Center>

  


{% if flag == -1 %}
<center > <textarea id="name" name="name" placeholder="First Text File.txt" style="resize: none;" rows="1" cols="79"" ></textarea> 






<center> <textarea id="textpad" name="textpad" style="width:500px;height:200px;display:none;" placeholder="First" ></textarea></center>


 

{% else %}
   <center > <textarea id="name" name="name" style="resize: none;" rows="1" cols="79" >{{ data.name }}</textarea> </center>
  
    
    
    
    
    
    
   

   <center> <textarea id="textpad" name="textpad" style="width:500px;height:200px;display:none;"  > {{ data.html }}</textarea></center>

   
   {% endif %}
  


</form>
</div>

<div class="col-lg-3 col-md-4 col-sm-6" ></div>
  <br>
  
  <div id="textEditor">
    <div id='theRibbon'>
          <button id="boldbutton" title="Bold"><b>B</b></button>
          <button id="italicbutton" title="Italic"><em>I</em></button>
          <button id="underlinebutton" title="Underline"><u>U</u></button>
          <input type="color" id="fontcolor" title="Change Font Colour">
          <input type="color" id="highlighter" title="Highlight Text">
          <select id="fontChanger">
              <option value="Times New Roman"> Times New Roman</option>
              <option value="Tahoma"> Tahoma</option>
              <option value="cursive"> Cursive</option>
              <option value="sans-serif"> Sans-Serif</option>
              <option value="Calibri"> Calibri</option>


          </select>
          <select id="fontSizeChanger">
            <script>
              for(var i=1; i<20;i++){
                i++;
                document.write("<option value='"+i+"'>"+i+"</option>");
              }
            </script>
          </select>
          <button id="Undo" title="Undo">&larr;</button>
          <button id="Redo" title="Redo">&rarr;</button>
  
  
        </div> 

    
    <div id="richTextArea">
      <iframe id="WYSIWYG" name="WYSIWYG" frameborder="0" ></iframe>
  
    </div>
    
    
  </div>

  
  
  
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.js"></script>




    <script>
    $(document).ready(function ($) {

var previousScroll = 20;
    // scroll functions
    $(window).scroll(function(e) {
    
        // add/remove class to navbar when scrolling to hide/show
        var scroll = $(window).scrollTop();
        if (scroll >= previousScroll) {
            $('.navbar').addClass("navbar-hide");
        
        }else if (scroll < previousScroll) {
            $('.navbar').removeClass("navbar-hide");
        }
        previousScroll = scroll;
    
    });
    
})(jQuery);    
    </script>
  
    <script>
            var editor = WYSIWYG.document;
            editor.designMode="on";
          
           whiplash();{
            
            WYSIWYG.document.body.innerHTML = document.getElementById('textpad').textContent;

            };
        
    </script>








  
<script>
  var fonts=document.querySelectorAll("select#fontChanger>option");
  for (var i=0 ;i < fonts.length; i++){
    fonts[i].style.fontFamily = fonts[i].value;

  }
</script>
 
  

  {% endblock %}

