{% extends "base.html" %}

{% block content %}

<a href="{{ url_for('index') }}" target="_blank" class="btn --animated">
        <span>Add New File</span>
</a>
<br><br>


{% for post in posts %}

<div>
      <b><h5>{{ post.name }}{{ post.extension}} :</h5> <a href="/download/{{post.id}}" class="buttonDownload" download="{{post.name+post.extension}}" >Download</a> <br><hr>

        <br>
        </b> {{post.html|safe}} 
      
      

      
      <a href="/edit/{{post.id}}" title="Edit" class="button btnFloat btnBlueGreen">Edit</a>
      
      <a  href="/delete/{{post.id}}" title="Button slide purple" class="button btnSlide btnPurple">
        <span class="top" data-content="Delete">Delete</span>
        <span class="bottom" data-content="Edit">Sure?</span>
      </a>



        <br><br><br><br><br>       
        

        <br>


       <br>
        
    
</div>
{% endfor %}

{% endblock %}