{% extends "base.html" %}

{% block content %}


<br><br>

<div class="row">
  <div class="col-lg-9 col-md-9 col-sm-6" >
{% for post in posts %}

<div>
  <center>  <b><h5>{{ post.name }} :</h5></b><a href="/download/{{post.id}}" class="buttonDownload" download="{{post.name}}" >Download</a></center>
  <center>
    <a href="/edit/{{post.id}}" title="Edit" class="button btnFloat btnBlueGreen">Edit</a>  <a  href="/delete/{{post.id}}" title="Button slide purple" class="button btnSlide btnPurple">
    <span class="top" data-content="Delete">Delete</span>
    <span class="bottom" data-content="Edit">Sure?</span></a> </center> <br>

    <br> <br><br>

   <center> {{post.html|safe}}  </center>
     

  
   
      

      
    


        <br><br><br><br><br>       
        

        <br>


       <br>
       <hr>
    
</div>

{% endfor %}
</div>


<div class="col-lg-3 col-md-3 col-sm-3" >
  <a href="{{ url_for('index') }}" target="_blank" class="btn --animated">
    <span>Add New File</span>
  </a></div>

{% endblock %}