{% extends "base.html" %}


{% block content %}


        <br><br><br><br>

        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-6" >
        <a href="{{ url_for('index') }}" target="_blank" class="btn --animated">
            <span>Add New File</span></a>

            <br>
            <a href="/codingtab" target="_blank" class="btn --animated">
              <span>Add A New Code</span>
            </a>

            </div>
        
            
              <div class="col-lg-6 col-md-8 col-sm-12" >
        
            <div class="container">
              <center>  <h1> Upload Your File For editing</h1></center>
               
                <form method="POST" action="/upload" enctype="multipart/form-data">
                
                    <div class="form-group">
                     
                       <center> <input type="file" name="inputFile"></center> 
                    </div>
                   <center><input type="submit" class="btn --animated"></button> </center> 
                
                </form>
            </div> 



            <hr>
            <hr>

            </div>
            
              <div class="col-lg-3 col-md-4 col-sm-6" ></div>

              </div>
        
        
        
     
{% endblock %}